.highlight {
    .cm    { color: rgb(72, 192, 72); font-style: italic } // Comment.Multiline
    .cp    { color: rgb(72, 192, 72); font-weight: bold } // Comment.Preproc
    .c1    { color: rgb(72, 192, 72); font-style: italic } // Comment.Single
    .cs    { color: rgb(72, 192, 72); font-weight: bold; font-style: italic } // Comment.Special
}

.site-header {
    border-top: none;
}
